@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br/>
    <a href="https://baconsale.com/">Baconsale</a>
    <br/>

    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Photo" width="500">
    </a>


</div>