@{
    ViewData["Title"] = "Get to Know Joel";
}

<!--Get to Know Joel Page -->

<div class="text-center">
    
    <!-- Link to Quick Wits Comedy -->
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br/>
    
    <!-- Link to Baconsale Site -->
    <a href="https://baconsale.com/">Baconsale</a>
    <br/>

    <!-- Photo that also links to the Baconsale Site when clicked -->
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Photo" width="500">
    </a>
    
</div>